body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    z-index: -999;
    width: 100%;
    background: url(img/fond_site.jpg);
    background-repeat: no-repeat;
    background-position: center -10px;
    background-color: #65C3FF;
    overflow-x: hidden;
}

topbar {
    display: block;
    height: 22px;
    line-height: 22px;
    background-color: #3c434c;
    margin-left: -8px;
    margin-top: -8px;
    color: #65C3FF;
	z-index: 501;
	position:relative;
}

topbar a {
    display: block;
    float: left;
    padding: 0 15px 0 15px;
    background: #3c434c;
    color: #3edeff;
    font-size: 11px;
    text-decoration: none;

}

topbar a:hover {
    cursor: pointer;
    background-color: #65C3FF;
    color: #fff;
}

topsite {
    display: block;
    width: 1000px;
    margin-left: calc(50% - calc(1000px / 2));
}

header_info {
    display: block;
    width: 260px;
    height: 111px;
    float: right;
    background: url(img/FFFFFF_50.png) repeat;
    background: rgba(255,255,255,0.8);
}

my_avatar {
    display: block;
    width: 94px;
    float: left;
    text-align: center;
	z-index: -11111;
}
#skinviewerframe {
    width: 100%;
    top: -90px;
	right: 10px;
	  border: 4px solid #000;
  -moz-border-radius: 1px;
  border-radius: 15px;

}
#skinviewerframeprofil {
    top: -90px;
	right: 10px;
	  border: 4px solid #000;
  -moz-border-radius: 1px;
  border-radius: 15px;

}

header_profil {
    display: block;
    padding: 2px;
    padding-left: 8px;
}

profil_login_box {
    display: block;
    width: 141px;
    float: left;
    padding: 5px;
} 

menu {
    z-index: 500;
    position: relative;
    height: 40px;
    background-color: #f50085;
    /* box-shadow: 0px 5px 10px rgba(0,0,0,0.65); */
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: 0px;
}

menu li {
    float: left;
    border-right: solid 1px #F971BB;
    border-right: solid 1px rgba(255,255,255,0.5);
}

menu li a span {
    padding: 2px 5px 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
menu li ul {
    display:none;
    position:absolute;
    background-color:#FFFFFF;
    width:255px; /* 255 */
    
    /* IE : trouver une solution */
    border: solid 1px #e6e6e6;
    border-top: none;
    
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;

    -webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.35);	
    -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.35);
    box-shadow: 4px 4px 5px rgba(0,0,0,0.35);
    
    }
    menu li:hover ul {
        display:block;
    }
    
    
    
    menu li ul li {
        float:none;
        border:none;
    }
    menu ul ul img.menu_ico {
        float:left;
        margin-right:5px;
        
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        
        border:1px solid #9d61ff;
    }
    
    menu ul ul a {
        color:#666666;
        border:none;
        display:block;
        min-height:57px; /* 77 */
        font-size:12px;
        line-height:normal;
        padding:10px;
        border-top: solid 1px #fa7fc2;
        text-shadow: none;
    }
    menu ul ul a div {
        font-size:10px;
        line-height:12px;
        font-weight:normal;
        color:#999999;
        overflow:hidden;
    }
    
        menu ul ul a:hover { color:#FFFFFF; }
        menu ul ul a:hover div { color:#DDDDDD; }
        menu ul ul a:hover img.menu_ico { border: 1px solid #FFFFFF; }
        menu ul li ul li a:hover { background-color:#f50085; }

    menu ul ul li:last-child a {
        -webkit-border-bottom-left-radius:5px;
        -webkit-border-bottom-right-radius:5px;
        -moz-border-radius-bottomleft:5px;
        -moz-border-radius-bottomright:5px;
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;
    }

    
    menu ul ul li.menu_getmore {
        height:30px;
        min-height:30px;
        text-align:center;
        
    }
    menu ul ul li.menu_getmore a.solo {
        color:#f50085;
        }
        menu ul ul li.menu_getmore:hover a.solo {
            color:#FFFFFF;
        }
    
    menu ul ul li.menu_getmore a {
        min-height:30px;
        height:30px;
        padding: 0px;
        line-height:30px;
        font-weight:normal;
    }
    

menu li.menu_btn_jouer {
    font-size:21px;
    padding-right:5px;
    padding-left:5px;
    background-color:#9de500;
    }
    menu li.menu_btn_jouer a { border:none; }
    
    
    menu li.menu_btn_home img {
        padding-top:12px;
        padding-bottom:12px;	
    }
    menu li.menu_btn_home a {
        padding: 0 10px 0 10px;
        background:none;
        
        border-radius: 0px;

        
        /*
        -webkit-border-radius: 10px;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius: 10px;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        */
        
    }
    

menu li a {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    padding: 0 5px 0 5px;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

menu li a:hover span, #MENU li:hover a span, #MENU li a:focus span, #MENU li:focus a span, #MENU li a.menu_selected span {
    color:#f50085;
    background-color:#FFFFFF;
    text-shadow: none;
}

menu a:link,
menu a:visited {
    color: #FFFFFF;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ol, ul, li {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.login_box_input {
    outline: none;
    display: block;
    width: 145px;
    height: 25px;
    padding: 5px;
    border: solid 1px #b9c6cc;
    margin-bottom: 5px;
    color: #BBBBBB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.25);
}

.login_box_input:focus {
    box-shadow: 0px 0px 10px rgba(33, 154, 230, 0.7);
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.login_box_ok {
    float: right;
    width: 30px;
    height: 25px;
    font-size: 11px;
    color: #FFFFFF;
    background-color: #f50085;
    border: none;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.login_box_ok:hover {
    cursor: default;
    background-color: #f5008771;
}

message {
    display: block;
    width: 950px;
    text-align: center;
    background: #f5f0b5;
    padding: 10px;
    border: #ede47e;
    border-style: solid;
    border-radius: 5px;
    margin-left: calc(50% - calc(950px / 2));
}

content {
    display: block;
    width: 950px;
    text-align: center;
    background: #fff;
    padding: 10px;
    margin-left: calc(50% - calc(950px / 2));
    border-radius: 4px;
}

content a {
    color: rgb(38, 14, 255);
}

#chat {
    margin-left: calc(50% - calc(950px / 2));
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #f50085;
    font-size: 19px;
}

a {
    text-decoration: none;
}

.red
{
    background: red;
}
.green
{
    background: green;
}

.skinviewer iframe {
    position: relative;
    top: -110px;
}